html {
    font-size: 62.5%;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
  }
  
  button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }
  
  ul, li {
    list-style:none;
    padding:0;
    margin:0;
    white-space:nowrap;
    max-width:900px;
    max-height: 320px;

}

ul
{
  overflow-x:scroll;
  overflow-y:scroll;
}
